Recurso1/Web References/Server/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Visualizar">
        <s:complexType />
      </s:element>
      <s:element name="VisualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VisualizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Editar">
        <s:complexType />
      </s:element>
      <s:element name="EditarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Salvar">
        <s:complexType />
      </s:element>
      <s:element name="SalvarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalvarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VisualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Visualizar" />
  </wsdl:message>
  <wsdl:message name="VisualizarSoapOut">
    <wsdl:part name="parameters" element="tns:VisualizarResponse" />
  </wsdl:message>
  <wsdl:message name="EditarSoapIn">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="EditarSoapOut">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarSoapIn">
    <wsdl:part name="parameters" element="tns:Salvar" />
  </wsdl:message>
  <wsdl:message name="SalvarSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarResponse" />
  </wsdl:message>
  <wsdl:portType name="ServerSoap">
    <wsdl:operation name="Visualizar">
      <wsdl:input message="tns:VisualizarSoapIn" />
      <wsdl:output message="tns:VisualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input message="tns:EditarSoapIn" />
      <wsdl:output message="tns:EditarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <wsdl:input message="tns:SalvarSoapIn" />
      <wsdl:output message="tns:SalvarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServerSoap" type="tns:ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Visualizar">
      <soap:operation soapAction="http://tempuri.org/Visualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <soap:operation soapAction="http://tempuri.org/Salvar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServerSoap12" type="tns:ServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Visualizar">
      <soap12:operation soapAction="http://tempuri.org/Visualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap12:operation soapAction="http://tempuri.org/Editar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <soap12:operation soapAction="http://tempuri.org/Salvar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="ServerSoap" binding="tns:ServerSoap">
      <soap:address location="http://localhost:41984/Server.asmx" />
    </wsdl:port>
    <wsdl:port name="ServerSoap12" binding="tns:ServerSoap12">
      <soap12:address location="http://localhost:41984/Server.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>